<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/add-post">Portfolio Admin</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/add-post" Match="NavLinkMatch.All">
                <i class="fa-brands fa-linkedin"></i> نشر مقال
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/add-guide">
                <i class="fa-solid fa-book"></i> نشر دليل
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/settings">
                <i class="fa-solid fa-gear"></i> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
